In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\1.csv")

In [4]:
df2=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\2.csv")
df3=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\3.csv")
df4=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\4.csv")
df5=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\5.csv")
df6=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\6.csv")
df7=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\7.csv")
df8=pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating\8.csv")

In [7]:
df= pd.concat([df1, df2,df3,df4,df5,df6,df7,df8])

In [66]:
df = df.drop(['timestamp', 'userId'], axis=1)
df

         rating movieId
0           1.0   as680
1           4.5  ns2186
2           5.0  hs2381
3           5.0  ns3663
4           5.0  as9500
...         ...     ...
1499995     4.5  ns5272
1499996     2.5  ns5492
1499997     3.5   hs305
1499998     4.5  ns7881
1499999     1.5   as883

[11024289 rows x 2 columns]

In [70]:
df_mean = df.groupby('movieId')['rating'].mean().reset_index(name='rating_mean')
df_mean.rename(columns={'movieId': 'show_id'}, inplace=True)
df_mean

      show_id  rating_mean
0         as1     3.467131
1        as10     3.439571
2       as100     3.609302
3      as1000     3.556701
4      as1001     3.585288
...       ...          ...
22993   ns995     3.515625
22994   ns996     3.626518
22995   ns997     3.530526
22996   ns998     3.582645
22997   ns999     3.494781

[22998 rows x 2 columns]

In [73]:
df_mean.to_csv('rating_mean', index=False)